/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
  height: 97.5vh;
  margin: 0;
  display: auto;
}
#login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.formulario_login {
  width: 400px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #ff0000;
  border-radius: 10px;
  padding: 30px 60px;
}
.formulario_login input,
label {
  display: block;
  width: 100%;
  margin: 5px 0;
}
.formulario_login input {
  height: 40px;
  border: 1px solid #ff0000;
  padding: 0 8px;
  border-radius: 10px;
}
.formulario_login input[type="button"] {
  cursor: pointer;
  border: 2px solid #ff0000;
}
.formulario_login input[type="button"]:hover {
  cursor: pointer;
  background-color: #ff0000;
}
img{
  width: 290px;
} */

section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
section.body_menu_principal{
  gap: 19%;
}
section#imagenes{
  gap: 15%;
  margin-top: 5%;
}
.logo{
  width: 300px;
}
button#cerrar_sesion {
  height: 30px;
  border: 2px solid black;
  background: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  left: 25%;
}
button#cerrar_sesion:hover {
  background-color: black;
  color: white;
}
button.consultar{
  height: 80px;
  width: 120px;
  border: 2px solid rgb(62, 58, 255);
  background: none;
  border-radius: 10px;
  cursor: pointer;
}
button.consultar:hover {
  background-color: rgb(62, 58, 255);
  color: white;
}
button.retirar{
  height: 80px;
  width: 120px;
  border: 2px solid rgb(255, 242, 58);
  background: none;
  border-radius: 10px;
  cursor: pointer;
}
button.retirar:hover {
  background-color: rgb(255, 242, 58);
}
button.transferir{
  height: 80px;
  width: 120px;
  border: 2px solid rgb(78, 201, 133);
  background: none;
  border-radius: 10px;
  cursor: pointer;
}
button.transferir:hover {
  background-color: rgb(78, 201, 133);
  color: white;
}
img {
  transition: opacity 2s;
}